* {
  font-size: 40px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  /* 设置背景全屏必须设置此项为100% */
}
body {
  /* 设置页面背景 */
  background: border-box url(https://img.zcool.cn/community/017d6a5c513b9ca801213f26c6f65d.png@1280w_1l_2o_100sh.png) no-repeat top center;
  /* 图片不重复 顶部 居中放大100% */
  height: 100%;
  /* 设置背景全屏必须设置此项为100% */
  background-size: 100% 100%;
  /* 设置背景拉伸为全屏 */
}
header {
  height: 1.25rem;
  /* background: url(https://gitee.com/frunoob/blog-image/raw/master/image/2020-11-17/15/04/triangles-1430105.svg) no-repeat; */
  background: rgba(10, 14, 20, 0.4);
}
header h1 {
  color: #fff;
}
