* {
  font-size: 40px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 设置字体 */
@font-face {
  font-family: digit;
  src: url(https://cdn.jsdelivr.net/gh/frunoob/Library@0.0.1/echart/echart/font/DS-DIGIT.TTF);
}
html {
  height: 100%;
  /* 设置背景全屏必须设置此项为100% */
}
body {
  /* 设置页面背景 */
  background: border-box url(../img/body-bg.png) no-repeat top center;
  /* 图片不重复 顶部 居中放大100% */
  height: 100%;
  /* 设置背景全屏必须设置此项为100% */
  background-size: 100% 100%;
  /* 设置背景拉伸为全屏 */
}
/* 页眉 */
header {
  position: relative;
  height: 1.25rem;
}
header::before {
  content: "";
  background-image: url(../img/panel-bg.jpg);
  background-size: auto;
  z-index: -1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.3;
  margin: auto;
}
header h1 {
  color: #fff;
  /* 颜色设置为白色 */
  font-size: 0.475rem;
  text-align: center;
  /* 居中类型 */
  line-height: 1rem;
}
/* 页面主题 */
.mainbox {
  display: flex;
  /* 让三个盒子在同一行显示 */
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem;
  /* 设置内边框 */
  /* 公共面板样式 */
}
.mainbox .column {
  /* 所有盒子占2份 */
  flex: 2;
  margin: 0 0.0375rem 0.125rem;
  /* maps面板的高度 */
  /* 设置左侧面板高度 */
}
.mainbox .column h2 {
  height: 45px;
  color: #fff;
  line-height: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.mainbox .column .maps {
  height: 11.55rem;
}
.mainbox .column .panel.left {
  height: 2.5rem;
}
.mainbox .column:nth-child(1) {
  /* 第1个盒子占4份 */
  flex: 4;
  /* 设置左盒子右和下边距为15px 上和左边距为0 */
  margin: 0 0.1875rem 0.1875rem 0;
}
.mainbox .panel {
  position: relative;
  height: 5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  padding: 0 0.1875rem 0.5rem;
  /* 保证内容在中间 */
  margin-bottom: 0.1875rem;
  /* 设置右下角和左下角的直角边框效果 */
}
.mainbox .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.mainbox .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.mainbox .panel .panel-bg {
  z-index: -1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: url(../img/panel-bg.jpg);
  background-size: 100% 100%;
  opacity: 0.5;
  margin: auto;
}
.mainbox .panel .panel-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.mainbox .panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.mainbox .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.mainbox .panel h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: 400;
}
.mainbox .panel .chart {
  height: 3rem;
  border-color: blue;
}
.maps {
  position: relative;
  height: 5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  padding: 0 0.1875rem 0.5rem;
  /* 保证内容在中间 */
  margin-bottom: 0.1875rem;
}
.maps::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 60px;
  border-top: 5px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.maps::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 60px;
  border-bottom: 5px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
